.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.searchResult {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 50px 25px;

  :global {
    .ant-typography {
      margin-top: 0;
    }
  }

  .noData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header {
  }

  .foundIn {
  }

  .tabs {
  }

  .fileCards {
  }
}
