.searchResult {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 50px 25px;

  :global {
    .ant-typography {
      margin-top: 0;
    }
  }

  .header {
  }

  .foundIn {
  }

  .tabs {
  }

  .fileCards {
  }
}
